{{page-title "Dummy"}}

<h2 id="title">EmberCLI App Version</h2>

{{#if (macroDependencySatisfies "@embroider/core" "*")}}
  <p class="message">Your app version is {{(app-version)}}</p>
{{else}}
  <p class="message">Your app version is {{app-version}}</p>
{{/if}}
